body {
  margin: 0;
}

.tablecls {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 3rem;
}

.tablecls td,
.tablecls th {
  border: 1px solid #dee2e6;
  padding: 7px;
  border-left: none;
  border-right: none;
  text-align: center;
}

.tablecls th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
  background-color: black;
}

.tablecls thead th:first-child {
  width: 8rem;
  min-width: 8rem;
  max-width: 8rem;
}

.tablecls td:first-child {
  width: 8rem;
  min-width: 8rem;
  max-width: 8rem;
}
